// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$font: #2C3438;
$vert: #373624;
$rouge: #cc000a;
$blanc: #F1F1F1;
$fondaside: rgb(213, 213, 213);
$bleu: #1D2F6F;
$jaune: #FFE019;
