// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";
$text: 'Zilla Slab', serif;
$titre: 'Montserrat', sans-serif;
$titre_1: 'Lobster', sans-serif;
$titre_2: 'Carter One', cursive;


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Combat";
//   src: font-url('Combat.eot');
//   src: font-url('Combat.eot?#iefix') format('embedded-opentype'),
//        font-url('Combat.woff') format('woff'),
//        font-url('Combat.ttf') format('truetype')
// }
// $my-font: "Combat";
