// Specific CSS for your home-page
html, body {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: $blanc;
  min-height: 100vh;
}

.home {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('home.jpg');
  background-position: center;
  background-size: cover;
  min-height:100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;


  .home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    margin-top: 195px;

    h1 {
      font-family: $titre_1;
      color: $bleu;
      font-size: 200px;
      font-weight: bold;
      text-shadow: 1px 1px 3px $jaune;



    //   &:before {
    //     border-top: 90px solid;
    //     border-image: linear-gradient(rgba(255,203,3,1), rgba(255,150,1,1)) 108;
    //     content: "";
    //     height: 2px;
    //     /* margin: 0 auto; */
    //     position: absolute;
    //     top: 40%;
    //     left: 41px;
    //     right: 0;
    //     bottom: 0;
    //     width: 50%;
    //     z-index: -1;
    //     animation: barre 2s linear;
    // }
    }

    // @keyframes barre {
    //   from {
    //     width: 0
    //   }
    }

    p {
      font-family: $text;
      color: $bleu;
      opacity: 0.9;
      font-size: 30px;
      font-weight: bold;
      text-shadow: 1px 1px 3px $jaune;
      width: 36ch;
      animation: typing 2s steps(22);
      white-space: nowrap;
      overflow: hidden;
    }
  }

  @keyframes typing {
    from {
      width: 0
    }
  }

.btn-homepage {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
  width: 100%;

  .btn-home {
    border-radius: 10px;
    background: rgba(255,203,3,1);
    padding: 10px 30px;
    align-self: flex-start;
    text-decoration: none;
    font-weight: bold;
    font-family: $text;
    color: $bleu;
    transition: all 300ms linear;
    font-size: 20px;
    margin-left: 350px;

    &:hover {
      background: rgba(255, 149, 1, 0.846);
      font-size: 21px;
    }
  }
}
