// .list-aside {
//   display: flex;
//   // flex-direction: row;

// }

.titre-filter {
  text-align: center;
  font-family: $titre;
  color: $bleu;
  margin-top: 10px;
}
.filtre {
  height: 80px;
  width: 100%;
  background: #F1F1F1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;


  img {
    height: 35px;
    width: auto;

    &:hover {
      height: 40px;
    }
  }
}


.list-d {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #F1F1F1;
  width: 80%;
  max-width: 1300px;
  margin: 70px auto 0;


  .list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
    margin: 10px 10px;
    font-family: $text;
    font-weight: bold;
    width: 250px;
    height: auto;
    flex-shrink: 0;
    backdrop-filter: blur(5px);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-radius: 20%;
    transition: all 0.3s linear;
    transition-delay: all 0.3s linear;


    &:hover {
      border-bottom: 5px solid white;
      border-right: 5px solid white;
      border-top: 5px solid $red;
      border-left: 5px solid $red;
      transition-delay: 0s;
      background: rgb(213, 213, 213);

      .list-name {
          color: #49493B;
        }
      }
   }

   img { width: 100%; height: auto;  }

   a { text-decoration: none; }

   .list-description{
     display: flex;
     flex-direction: column;
     align-items: center;

     .list-name{
       text-decoration: none;
       color: $font;
       transition: all 300ms linear;
       font-family: $text;
       font-size: 20px;
     }

     .list-order{
       color: #49493B;
       font-family: $text;
       font-size: 15px;
     }
   }
  }
