.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  .list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px;
    border-radius: 30px 10px;
    padding: 5px 10px;
    margin: 10px 10px;
  }
}
