.poke-show {

  position: fixed;
  top: 80px;
  height: 85%;
  width: 100%;
}


.desc-img{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}


.description-show{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  color: $bleu;
}

.description_show-pokemon {
  width: 100%;
  height: 60%;
  padding-left: 50px;

  .name{
    font-size: 75px;
    font-weight: bold;
    font-family: $titre;
  }

  .d-description{
    font-family: $text;
    font-size: 25px;

    strong {
      font-size: 30px;
      opacity: 0.8;
    }
  }

}

.img-show {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}


.container-img {
  height: 65%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(241,241,241);
  background: linear-gradient(320deg, rgba(241,241,241,1) 50%, rgba(255,96,96,1) 70%);  border-radius: 150px 150px 150px 150px / 100px 100px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-show-pokemon {
  img{

    width: 100%;
    height: auto;
  }
}

  .fa-return{
    color: $bleu;
    font-size: 15px;
    position: fixed;
    top: 90px;
    left: 10px;
    transition: all 300ms linear;

    &:hover {
      opacity: 0.7;
      font-size: 18px;
    }
  }
