
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images3.alphacoders.com/902/902690.jpg);">
  <div class="container-banner">
    <h1>Un message ici!</h1>
    <p>Petite phrase d'accroche.</p>
  </div>
</div>
