<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Mathieu-Warocquier"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/mathieu-warocquier/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
  Find me on the networks <i class="fas fa-star"></i>
  </div>
</div>
