<div class="navbar">
  <div class="premier rectangle"></div>

  <div class="deuxième rectangle">
    <div class="partie 1">
      <div class="points">
        <div class="point1"></div>
        <div class="point2"></div>
        <div class="point3"></div>
      </div>
    </div>

    <div class="partie 2"></div>
  </div>
</div>
