<div class="navbar">
  <div class="rectanglep">
    <div class="point-bleu">
    </div>
  </div>

  <div class="rectangled">
    <div class="partie-1">
      <div class="points">
        <div class="point1"></div>
        <div class="point2"></div>
        <div class="point3"></div>
      </div>
    </div>

    <div class="partie-2"></div>
  </div>
</div>
