<%# <div class="navbar">
  <div class="rectanglep">
    <div class="point-bleu">
    </div>
  </div>

  <div class="rectangled">
    <div class="partie-1">
      <div class="points">
        <div class="point1"></div>
        <div class="point2"></div>
        <div class="point3"></div>
      </div>
    </div>

    <div class="partie-2"></div>
  </div>
</div> %>

<div class="navbar">
  <%= link_to root_path do%>
    <div class="logo">
      <%=image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/1200px-Pok%C3%A9_Ball_icon.svg.png")%>
    </div>
  <% end %>
    <div class="titre">
      <p>Pokédex</p>
    </div>
</div>
