<div class="home">
  <div class="home-text">
    <h1>Pokédex</h1>
    <p>Pour t'accompagner dans ta quête !</p>
  </div>
  <div class="btn-homepage">
    <%= link_to pokemons_path, class:"btn-home" do %>Par ici<%end%>
  </div>
</div>
