<div class="container-home">
  <div class="home-text">
    <h1>Pokédex</h1>
    <p>Pour t'accompagner dans ta quête !</p>
    <%= link_to pokemons_path, class:"btn-home" do %>Par ici<%end%>

  </div>
  <div class="home-img">
    <img src="https://i.pinimg.com/736x/8f/d1/0c/8fd10c1b2e057c854398d2f7377935a0.jpg" alt="pikachu">
  </div>
</div>
