.aside {
  min-width: 20%;
  position: sticky;
  z-index: 1;
  top: 75px;
  height: 100%;
  background: $fondaside;

  p {
    padding-left: 15px;
    padding-top: 15px;
    font-size: 20px;
    font-weight: bold;
    font-family: $titre;
    color: $font;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .search {
    display: flex;
    justify-content: center;
  }
}
