.filter {
  width: 100%;
  overflow: hidden;
  // position: sticky;
  // top: 0;
  // z-index: 3;
}

.filtre-item {
  cursor: pointer;

  img {
    height: 35px;
    width: auto;
  }
}

.plante {
  position: relative;
  transition: all 200ms linear;

  &:hover {
    opacity: 0.8;
  }

  &::before {
    content: "grass";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-family: $text;
    font-weight: bold;
    color: $bleu;
    opacity: 0;
    transition: all 200ms linear;
  }

  &:hover::before {
    opacity: 1;
    font-size: 15px;
  }
}

.fire {
  position: relative;
  transition: all 200ms linear;

  &:hover {
    opacity: 0.8;
  }

  &::before {
    content: "fire";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-family: $text;
    font-weight: bold;
    color: $bleu;
    opacity: 0;
    transition: all 200ms linear;
  }

  &:hover::before {
    opacity: 1;
    font-size: 15px;
  }
}

.water {
  position: relative;
  transition: all 200ms linear;

  &:hover {
    opacity: 0.8;
  }

  &::before {
    content: "water";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-family: $text;
    font-weight: bold;
    color: $bleu;
    opacity: 0;
    transition: all 200ms linear;
  }

  &:hover::before {
    opacity: 1;
    font-size: 15px;
  }
}

.bug {
  position: relative;
  transition: all 200ms linear;

  &:hover {
    opacity: 0.8;
  }

  &::before {
    content: "bug";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-family: $text;
    font-weight: bold;
    color: $bleu;
    opacity: 0;
    transition: all 200ms linear;
  }

  &:hover::before {
    opacity: 1;
    font-size: 15px;
  }
}

.normal1 {
  position: relative;
  transition: all 200ms linear;

  &:hover {
    opacity: 0.8;
  }

  &::before {
    content: "normal";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-family: $text;
    font-weight: bold;
    color: $bleu;
    opacity: 0;
    transition: all 200ms linear;
  }

  &:hover::before {
    opacity: 1;
    font-size: 15px;
  }
}

.poison1 {
  position: relative;
  transition: all 200ms linear;

  &:hover {
    opacity: 0.8;
  }

  &::before {
    content: "poison";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-family: $text;
    font-weight: bold;
    color: $bleu;
    opacity: 0;
    transition: all 200ms linear;
  }

  &:hover::before {
    opacity: 1;
    font-size: 15px;
  }
}

.electric1 {
  position: relative;
  transition: all 200ms linear;

  &:hover {
    opacity: 0.8;
  }

  &::before {
    content: "electric";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-family: $text;
    font-weight: bold;
    color: $bleu;
    opacity: 0;
    transition: all 200ms linear;
  }

  &:hover::before {
    opacity: 1;
    font-size: 15px;
  }
}

.ground1 {
  position: relative;
  transition: all 200ms linear;

  &:hover {
    opacity: 0.8;
  }

  &::before {
    content: "ground";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-family: $text;
    font-weight: bold;
    color: $bleu;
    opacity: 0;
    transition: all 200ms linear;
  }

  &:hover::before {
    opacity: 1;
    font-size: 15px;
  }
}

.fairy {
  position: relative;
  transition: all 200ms linear;

  &:hover {
    opacity: 0.8;
  }

  &::before {
    content: "fairy";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-family: $text;
    font-weight: bold;
    color: $bleu;
    opacity: 0;
    transition: all 200ms linear;
  }

  &:hover::before {
    opacity: 1;
    font-size: 15px;
  }
}

.fighting {
  position: relative;
  transition: all 200ms linear;

  &:hover {
    opacity: 0.8;
  }

  &::before {
    content: "fighting";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-family: $text;
    font-weight: bold;
    color: $bleu;
    opacity: 0;
    transition: all 200ms linear;
  }

  &:hover::before {
    opacity: 1;
    font-size: 15px;
  }
}

.psychic {
  position: relative;
  transition: all 200ms linear;

  &:hover {
    opacity: 0.8;
  }

  &::before {
    content: "psychic";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-family: $text;
    font-weight: bold;
    color: $bleu;
    opacity: 0;
    transition: all 200ms linear;
  }

  &:hover::before {
    opacity: 1;
    font-size: 15px;
  }
}

.ghost {
  position: relative;
  transition: all 200ms linear;

  &:hover {
    opacity: 0.8;
  }

  &::before {
    content: "ghost";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-family: $text;
    font-weight: bold;
    color: $bleu;
    opacity: 0;
    transition: all 200ms linear;
  }

  &:hover::before {
    opacity: 1;
    font-size: 15px;
  }
}

.ice1 {
  position: relative;
  transition: all 200ms linear;

  &:hover {
    opacity: 0.8;
  }

  &::before {
    content: "ice";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-family: $text;
    font-weight: bold;
    color: $bleu;
    opacity: 0;
    transition: all 200ms linear;
  }

  &:hover::before {
    opacity: 1;
    font-size: 15px;
  }
}

.btn-filtre {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  .btn-f {
    background-color: $bleu;
    color: $jaune;
    font-family: $text;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 300ms linear;

    &:hover {
      opacity: 0.7;
      color: $jaune;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.ticker-title {
  width: 400%;
  padding-bottom: 5px;
  color: $bleu;
  margin-top: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: $text;
  font-weight: bold;
}

.ticker-title > * {
  display: inline-block;
  margin-right: 50px;
  animation: title 6s infinite linear;
}

@keyframes title {
  0% {transform: translateX(0);}
  100% {transform: translateX(-214px);}
}

.filtre {
  height: 80px;
  width: 100%;
  background: #F1F1F1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;

}
