.filter {
  width: 100%;
  overflow: hidden;
  // position: sticky;
  // top: 0;
  // z-index: 3;
}

.filtre-item {
  cursor: pointer;
}

.btn-filtre {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  .btn-f {
    background-color: $bleu;
    color: $jaune;
    font-family: $text;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 300ms linear;

    &:hover {
      opacity: 0.7;
      color: $jaune;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.ticker-title {
  width: 400%;
  padding-bottom: 5px;
  color: $bleu;
  margin-top: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: $text;
  font-weight: bold;
}

.ticker-title > * {
  display: inline-block;
  margin-right: 50px;
  animation: title 6s infinite linear;
}

@keyframes title {
  0% {transform: translateX(0);}
  100% {transform: translateX(-214px);}
}

.filtre {
  height: 80px;
  width: 100%;
  background: #F1F1F1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;

  img {
    height: 35px;
    width: auto;

    &:hover {
      height: 40px;
    }
  }
}
