.navbar {
  height: 150px;
  background: $font;
  padding: 0;


  .rectanglep {
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: $rouge;
    border-bottom: 30px ridge $rouge;


    .point-bleu{
      background: #639BDC;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      border: 5px solid white;
    }
  }

  .rectangled {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;

    .partie-1 {
      height: 50%;
      display: flex;
      flex-direction: row;
      /* justify-content: center; */
      align-items: center;
      background: $rouge;

      .points{
        display: flex;
        width: 40%;
        height: 100%;
        justify-content: space-around;
        align-items: center;

        .point1{
          height: 50px;
          width: 50px;
          background: #A82E36;
          border-radius: 50%;
          border: solid 1px $gray;
        }
        .point2{
          height: 50px;
          width: 50px;
          background: #F2F54C;
          border-radius: 50%;
          border: solid 1px $gray;
        }
        .point3{
          height: 50px;
          width: 50px;
          background: #59BF74;
          border-radius: 50%;
          border: solid 1px $gray;
        }
      }
    }

    .partie-2{
      height: 50%;
      display: flex;
      flex-direction: row;
      background: $rouge;
      border-radius: 0% 0% 100% 0%;
      border-bottom: 30px ridge $rouge;

    }
  }
}
