.navbar {
  background: transparent;
  padding: 0;
  justify-content: space-between;
  background: transparent;
  // position: fixed;
  // top: 0;

  .logo {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75;
    width: 75;
  }
}
