.navbar {
  justify-content: space-between;
  background: transparent;
  padding: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  flex-wrap: nowrap;

  .logo {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75;
    width: 75;
  }
}
