.titre-search {
  color: $bleu;
  font-size: 20px;
  font-family: $text;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.searchbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: $blanc;

  .btn-search {
    background: $bleu;
    color: $jaune;
    font-family: $titre;
    font-weight: bold;
    transition: opacity 300ms linear;
    margin-top: 5px;

    &:hover {
      opacity: 0.7;
    }
  }

  .form-control {
    width: 50%;
    font-weight: bold;
    color: $bleu;
  }

  .form-control:focus {
    color: $bleu;
    background-color: #0d6dfd10;
    border-color: $jaune;
    font-family: $text;
    font-weight: bold;
    outline: 0;
    box-shadow: 0 0 0 1px #ffe01968;
  }

}
