
<%= render "shared/banner" %>

<div data-controller="refresh-list" class="list-aside">
  <div class="aside">
    <%= render "shared/aside" %>
  </div>

  <%= render "pokemons/list", pokemons: @pokemons %>
</div>
