<h1>Pokemons</h1>

<div class="list">





  <% @pokemons.sort.each do |pokemon| %>
    <div class="list-item">
      <%= image_tag("#{pokemon.sprites}", height: 100, width: 150) %>
      <%= link_to pokemon_path(pokemon) do %><%= pokemon.name %>
      <% end %>
      <p>No.<%=pokemon.order%></p>

    </div>
  <% end %>
</div>
